XSD/eEK-0020-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) von ﻿VRSG (Verwaltungsrechenzentrum AG St. Gallen) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eEK-0020="http://xmlns.vrsg.ch/xmlns/eEK-0020/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/8" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/7" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/5" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/5" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/3" xmlns:eCH-0020="http://www.ech.ch/xmlns/eCH-0020/3" targetNamespace="http://xmlns.vrsg.ch/xmlns/eEK-0020/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum:18.02.2016</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/8" schemaLocation="eCH-0011-8-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/7" schemaLocation="eCH-0021-7-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/5" schemaLocation="eCH-0007-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/5" schemaLocation="eCH-0010-5-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/3" schemaLocation="eCH-0008-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0020/3" schemaLocation="eCH-0020-3-0_abx.xsd"/>
	<xs:complexType name="extensionType">
		<xs:sequence>
			<xs:element name="residencePaper" type="eEK-0020:residencePaperType" minOccurs="0"/>
			<xs:element name="decision" type="eEK-0020:decisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="residenceAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nameInfoType">
		<xs:sequence>
			<xs:element name="nameData" type="eCH-0011:nameDataType"/>
			<xs:element name="nameValidFrom" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthInfoType">
		<xs:sequence>
			<xs:element name="birthData" type="eCH-0011:birthDataType"/>
			<xs:element name="birthAddonData" type="eCH-0021:birthAddonDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="maritalInfoType">
		<xs:sequence>
			<xs:element name="maritalData" type="eCH-0011:maritalDataType"/>
			<xs:element name="maritalDataAddon" type="eCH-0021:maritalDataAddonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="placeOfOriginInfoType">
		<xs:sequence>
			<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType"/>
			<xs:element name="placeOfOriginAddonData" type="eCH-0021:placeOfOriginAddonDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseDeliveryPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="nameInfo" type="eEK-0020:nameInfoType"/>
			<xs:element name="birthInfo" type="eEK-0020:birthInfoType"/>
			<xs:element name="religionData" type="eCH-0011:religionDataType"/>
			<xs:element name="maritalInfo" type="eEK-0020:maritalInfoType"/>
			<xs:element name="nationalityData" type="eCH-0011:nationalityDataType"/>
			<xs:element name="deathData" type="eCH-0011:deathDataType" minOccurs="0"/>
			<xs:element name="contactData" type="eCH-0011:contactDataType" minOccurs="0"/>
			<xs:element name="personAdditionalData" type="eCH-0021:personAdditionalData" minOccurs="0"/>
			<xs:element name="politicalRightData" type="eCH-0021:politicalRightDataType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="placeOfOriginInfo" type="eEK-0020:placeOfOriginInfoType" maxOccurs="unbounded"/>
				<xs:element name="residencePermitData" type="eCH-0011:residencePermitDataType"/>
			</xs:choice>
			<xs:element name="lockData" type="eCH-0021:lockDataType"/>
			<xs:element name="jobData" type="eCH-0021:jobDataType" minOccurs="0"/>
			<xs:element name="maritalRelationship" type="eCH-0021:maritalRelationshipType" minOccurs="0"/>
			<xs:element name="parentalRelationship" type="eCH-0021:parentalRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="guardianRelationship" type="eCH-0021:guardianRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="healthInsuranceData" type="eCH-0021:healthInsuranceDataType" minOccurs="0"/>
			<xs:element name="matrimonialInheritanceArrangementData" type="eCH-0021:matrimonialInheritanceArrangementDataType" minOccurs="0"/>
			<xs:element name="extension" type="eEK-0020:extensionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventBaseDelivery">
		<xs:sequence>
			<xs:element name="baseDeliveryPerson" type="eEK-0020:baseDeliveryPersonType"/>
			<xs:element name="oldBaseDeliveryPerson" type="eEK-0020:baseDeliveryPersonType" minOccurs="0"/>
			<xs:element name="ech20Event" type="xs:string" minOccurs="0"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="eCH-0011:mainResidenceType"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0011:secondaryResidenceType"/>
				<xs:element name="hasOtherResidence" type="eCH-0011:otherResidenceType"/>
			</xs:choice>
			<xs:element name="baseDeliveryValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="hasSwissFamilyMember" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="messageDate" type="xs:date"/>
			<xs:element name="eventDate" type="xs:date"/>
			<xs:element name="applicationName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="organisationUnitBfsNr" type="xs:positiveInteger"/>
			<xs:element name="applicationEventId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messageId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="32"/>
						<xs:maxLength value="36"/>
						<xs:pattern value="[a-fA-F0-9/-]{32,36}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="referenceMessageId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="32"/>
						<xs:maxLength value="36"/>
						<xs:pattern value="[a-fA-F0-9/-]{32,36}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partialDelivery" type="eEK-0020:partialDeliveryType" minOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partialDeliveryType">
		<xs:sequence>
			<xs:element name="uniqueIdDelivery" type="eEK-0020:uniqueIdDeliveryType"/>
			<xs:element name="totalNumberOfPackages" type="eEK-0020:totalNumberOfPackagesType"/>
			<xs:element name="numberOfActualPackage" type="eEK-0020:numberOfActualPackageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="uniqueIdDeliveryType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="totalNumberOfPackagesType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberOfActualPackageType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="residencePaperIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Heimatschein</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Heimatausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>vorl.keineHinterlegung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Interimsausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Dienstpass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Diplomatenausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Fremdenpass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Heimatschein(Ausländer)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>Identitätsausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Identitätskarte</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>inSchriftenEhemann</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>inSchriftenMutter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>inSchriftenVater</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>keineSchriften</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Kinderausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Konsulatsbestätigung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Laissez-passer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>Pass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>Passersatz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Personalausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>Reiseausweis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>Heimatausweis(Ausländer)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>keineHinterlage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>Hinterlagenichtnotwendig</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation>HinterlagenichtnotwendigOB</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>HeimatausweisfürgetrenntlebendeFrauen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decisionIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Adoptionsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Anerkennungsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Legitimationsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Namensänderungsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Einbürgerungsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Beschluss über einen Beistand</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>Beschluss des Regierungsrates</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Beschluss des Parlaments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Beschluss des Bürgerrates</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Beschluss eines Gerichtes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Beschluss einer Behörde</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Ausbürgerungsbeschluss</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="residencePaperType">
		<xs:sequence>
			<xs:element name="residencePaperId" type="eEK-0020:residencePaperIdType"/>
			<xs:element name="issueDate" type="xs:date" minOccurs="0"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="municipalityId" type="eCH-0007:municipalityIdType" minOccurs="0"/>
			<xs:element name="municipalityName" type="eCH-0007:municipalityNameType" minOccurs="0"/>
			<xs:element name="cantonAbbreviation" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="countryId" type="eCH-0008:countryIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="decisionType">
		<xs:sequence>
			<xs:element name="decisionId" type="eEK-0020:decisionIdType"/>
			<xs:element name="issueDate" type="xs:date"/>
			<xs:element name="expirationDate" type="xs:date"/>
			<xs:element name="municipalityId" type="eCH-0007:municipalityIdType" minOccurs="0"/>
			<xs:element name="municipalityName" type="eCH-0007:municipalityNameType" minOccurs="0"/>
			<xs:element name="cantonAbbreviation" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="countryId" type="eCH-0008:countryIdType" minOccurs="0"/>
			<xs:element name="town" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deliveryType">
		<xs:sequence>
			<xs:element name="deliveryHeader" type="eEK-0020:headerType"/>
			<xs:element name="delivery" type="eEK-0020:eventBaseDelivery"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="delivery" type="eEK-0020:deliveryType"/>
	<xs:element name="residencePaper" type="eEK-0020:residencePaperType"/>
	<xs:element name="decision" type="eEK-0020:decisionType"/>
</xs:schema>
