XSD/eEK-0020-1-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) von ﻿VRSG (Verwaltungsrechenzentrum AG St. Gallen) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eEK-0020="http://xmlns.vrsg.ch/xmlns/eEK-0020/1"
           xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/8" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/7"
           xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/5"
           xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4"
           targetNamespace="http://xmlns.vrsg.ch/xmlns/eEK-0020/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:annotation>
        <xs:documentation>Ausgabedatum:18.02.2016</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/8" schemaLocation="eCH-0011-8-1.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/7" schemaLocation="eCH-0021-7-0.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="eCH-0044-4-1.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/5" schemaLocation="eCH-0007-5-0.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/5" schemaLocation="eCH-0010-5-1.xsd"/>

    <xs:complexType name="extensionType">
        <xs:sequence>
            <xs:element name="residencePaper" type="eEK-0020:residencePaperType" minOccurs="0"/>
            <xs:element name="decision" type="eEK-0020:decisionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="residenceAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
            <xs:element name="additionalInfos" type="eEK-0020:additionalInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nameInfoType">
        <xs:sequence>
            <xs:element name="nameData" type="eCH-0011:nameDataType"/>
            <xs:element name="nameValidFrom" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="birthInfoType">
        <xs:sequence>
            <xs:element name="birthData" type="eCH-0011:birthDataType"/>
            <xs:element name="birthAddonData" type="eCH-0021:birthAddonDataType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="maritalInfoType">
        <xs:sequence>
            <xs:element name="maritalData" type="eCH-0011:maritalDataType"/>
            <xs:element name="maritalDataAddon" type="eCH-0021:maritalDataAddonType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="placeOfOriginInfoType">
        <xs:sequence>
            <xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType"/>
            <xs:element name="placeOfOriginAddonData" type="eCH-0021:placeOfOriginAddonDataType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="baseDeliveryPersonType">
        <xs:sequence>
            <xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
            <xs:element name="nameInfo" type="eEK-0020:nameInfoType"/>
            <xs:element name="birthInfo" type="eEK-0020:birthInfoType"/>
            <xs:element name="religionData" type="eCH-0011:religionDataType"/>
            <xs:element name="maritalInfo" type="eEK-0020:maritalInfoType"/>
            <xs:element name="nationalityData" type="eCH-0011:nationalityDataType"/>
            <xs:element name="deathData" type="eCH-0011:deathDataType" minOccurs="0"/>
            <xs:element name="contactData" type="eCH-0011:contactDataType" minOccurs="0"/>
            <xs:element name="personAdditionalData" type="eCH-0021:personAdditionalData" minOccurs="0"/>
            <xs:element name="politicalRightData" type="eCH-0021:politicalRightDataType" minOccurs="0"/>
            <xs:choice>
                <xs:element name="placeOfOriginInfo" type="eEK-0020:placeOfOriginInfoType" maxOccurs="unbounded"/>
                <xs:element name="residencePermitData" type="eCH-0011:residencePermitDataType"/>
            </xs:choice>
            <xs:element name="lockData" type="eCH-0021:lockDataType"/>
            <xs:element name="jobData" type="eCH-0021:jobDataType" minOccurs="0"/>
            <xs:element name="maritalRelationship" type="eCH-0021:maritalRelationshipType" minOccurs="0"/>
            <xs:element name="parentalRelationship" type="eCH-0021:parentalRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="guardianRelationship" type="eCH-0021:guardianRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="healthInsuranceData" type="eCH-0021:healthInsuranceDataType" minOccurs="0"/>
            <xs:element name="matrimonialInheritanceArrangementData" type="eCH-0021:matrimonialInheritanceArrangementDataType" minOccurs="0"/>
            <xs:element name="extension" type="eEK-0020:extensionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eventBaseDelivery">
        <xs:sequence>
            <xs:element name="baseDeliveryPerson" type="eEK-0020:baseDeliveryPersonType"/>
            <xs:element name="oldBaseDeliveryPerson" type="eEK-0020:baseDeliveryPersonType" minOccurs="0"/>
            <xs:element name="ech20Event" type="xs:string" minOccurs="0"/>
            <xs:choice>
                <xs:element name="hasMainResidence" type="eCH-0011:mainResidenceType"/>
                <xs:element name="hasSecondaryResidence" type="eCH-0011:secondaryResidenceType"/>
                <xs:element name="hasOtherResidence" type="eCH-0011:otherResidenceType"/>
            </xs:choice>
            <xs:element name="baseDeliveryValidFrom" type="xs:date" minOccurs="0"/>
            <xs:element name="hasSwissFamilyMember" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element name="messageDate" type="xs:dateTime"/>
            <xs:element name="eventDate" type="xs:date"/>
            <xs:element name="applicationName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="organisationUnitBfsNr" type="xs:positiveInteger"/>
            <xs:element name="applicationEventId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="messageId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="32"/>
                        <xs:maxLength value="36"/>
                        <xs:pattern value="[a-fA-F0-9/-]{32,36}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="referenceMessageId" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="32"/>
                        <xs:maxLength value="36"/>
                        <xs:pattern value="[a-fA-F0-9/-]{32,36}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="partialDelivery" type="eEK-0020:partialDeliveryType" minOccurs="0"/>
            <xs:element name="action">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="partialDeliveryType">
        <xs:sequence>
            <xs:element name="uniqueIdDelivery" type="eEK-0020:uniqueIdDeliveryType"/>
            <xs:element name="totalNumberOfPackages" type="eEK-0020:totalNumberOfPackagesType"/>
            <xs:element name="numberOfActualPackage" type="eEK-0020:numberOfActualPackageType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="uniqueIdDeliveryType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="totalNumberOfPackagesType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="numberOfActualPackageType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="residencePaperType">
        <xs:sequence>
            <xs:element name="residencePaperId" type="xs:string"/>
            <xs:element name="issueDate" type="xs:date" minOccurs="0"/>
            <xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="municipalityId" type="xs:int" minOccurs="0"/>
            <xs:element name="municipalityName" type="xs:string" minOccurs="0"/>
            <xs:element name="cantonAbbreviation" type="xs:string" minOccurs="0"/>
            <xs:element name="countryId" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="decisionType">
        <xs:sequence>
            <xs:element name="decisionId" type="xs:string"/>
            <xs:element name="issueDate" type="xs:date"/>
            <xs:element name="expirationDate" type="xs:date"/>
            <xs:element name="municipalityId" type="xs:int" minOccurs="0"/>
            <xs:element name="municipalityName" type="xs:string" minOccurs="0"/>
            <xs:element name="cantonAbbreviation" type="xs:string" minOccurs="0"/>
            <xs:element name="countryId" type="xs:int" minOccurs="0"/>
            <xs:element name="town" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deliveryType">
        <xs:sequence>
            <xs:element name="deliveryHeader" type="eEK-0020:headerType"/>
            <xs:element name="delivery" type="eEK-0020:eventBaseDelivery"/>
        </xs:sequence>
        <xs:attribute name="version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="delivery" type="eEK-0020:deliveryType"/>

    <xs:complexType name="additionalInfo">
        <xs:sequence>
            <xs:choice>
                <xs:element name="grdmCode" type="eEK-0020:grdmCode"/>
                <xs:element name="text" type="eEK-0020:keyFreeTextType" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="grdmCode">
        <xs:sequence>
            <xs:element name="grdmCodeType" type="eEK-0020:grdmCodeTypeType"/>
            <xs:element name="grdmCode" type="eEK-0020:grdmCodeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="grdmCodeTypeType">
        <xs:sequence>
            <xs:element name="codeTypeId" type="xs:string"/>
            <xs:element name="codeTypeText" type="eEK-0020:textType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="grdmCodeType">
        <xs:sequence>
            <xs:element name="codeId" type="xs:string"/>
            <xs:element name="codeText" type="eEK-0020:textType" maxOccurs="unbounded"/>
            <xs:element name="codeECH" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="textType">
        <xs:sequence>
            <xs:element name="languageCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                        <xs:minLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="keyFreeTextType">
        <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="text" type="eEK-0020:freeTextType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="freeTextType">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>                     <!--    3203         --><!--    17              --><!--    18.08.2018      -->
            <xs:element name="text" type="eEK-0020:textType"/>              <!--    St.Gallen    --><!--    Kt. St.Gallen   --><!--    Einreisedatum   -->
            <xs:element name="eCHValue" type="xs:string" minOccurs="0"/>    <!--    3203         --><!--    17              --><!--                    -->
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="keyTypeList">
        <xs:sequence>
            <xs:element name="keyType" type="eEK-0020:keyType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="keyType">
        <xs:sequence>
            <xs:element name="key" type="eEK-0020:keyValueType"/>
            <xs:element name="values" type="eEK-0020:keyValueType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="keyValueType">
        <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="eCHValue" type="xs:string" minOccurs="0"/>
            <xs:element name="validFrom" type="xs:string"/>
            <xs:element name="validTo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
